@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");


:root {
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    --clr-primary-5: hsl(205, 78%, 60%);
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(206, 33%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --color-red: #bf4140;
    --color-orange: #e2b22d;
    --color-yellow:#f5ee91;

}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {

    background: var(--clr-white);
    box-shadow: var(--dark-shadow);
    padding: 10px;
    text-align: center;

}




h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: var(--ff-primary);
}

.nav-choices {
    display: flex;
    gap: 1rem;
    justify-content: center;
    width: 100%;
    padding: 0.5rem 2rem;
}

nav a:hover {
    color: var(--clr-primary-5);
}

ul {
    list-style-type: none;
}

body {
    margin: 0%;
    background: var(--clr-grey-10);

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    opacity: 0.5;
}


path:hover {
    fill: #a2a8d3;

}


.gameWindow {
    display: flex;
    flex-direction: column;
    background: rgba(214, 231, 231, 0.5);
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    margin-top: 100px;
    border-radius: 50px;
    box-shadow: 3px 3rem 2rem 0px rgba(49, 49, 171, 0.1);

}

.content-container {
    border: #166c38;
}

#game-header {
    color: #3c4043;
    height: 40px;
    font-size: clamp(.8rem, 2vw, 1.2rem);
    padding: 5px;
    pointer-events: none;
}

#Greece {
    height: 500px;
    width: inherit;
    border: 0.0625rem solid rgba(0, 0, 0, .05);
    border-radius: inherit;

}

#Greece.divisions {
    height: 550px;

}

#SvgDiv {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 12px ;

}



#score_and_time {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 1rem;
    margin-bottom: 2.5rem;
}

.popText {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 0.875rem;
}

.label_score_time {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
}

#label_score {
    flex: 1 1;
}

#label_timer {
    flex: 1 1;
}

#closePopup {

    border-radius: 8px;
}

.popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.popup-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888888;
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, .75);
    max-width: 30rem;
    width: 120%;
}

.popup-content p{
    font-size: medium;
}

.show {
    display: block;
}

.FirstTry {
    fill: #f3f3f3;
}

.SecondTry {
    fill: var(--color-yellow);
}

.ThirdTry {
    fill: var(--color-orange);
}

.Fail {
    fill: var(--color-red);

}

.blinking {
    animation: blinker 1s linear infinite;
}

.DisplayName {
    text-align: center;
}

.RandomState {
    text-align: center;
}

@keyframes blinker {
    50% {
        opacity: 0.6;
    }

}


.restart-btn {
    margin: auto;
    width: 100px;
    align-items: center;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 19px;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    z-index: 0;
}

.restart-btn:hover {
    background: #F6F9FE;
    color: #174ea6;
}

.restart-btn:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}
